*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: lightgray ;
}
h1{
    font-family: Monument;
    color: white;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}
